body {
	margin: 0 auto;
	background: #333;
	background-color: #f3f3ea;
	font-family: serif;
}

/* header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #454545;
	z-index: 1;
}
.entry-btn {
	position: absolute;
	top: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: #454545;
	color: #efefef;
	text-align: center;
	line-height: 50px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	cursor: pointer;
}
#backBtn {
	top: -50px;
	right: 0;
}
#favoBtn {
	top: -50px;
	right: 52px;
	display: none;
}
#backBtn:hover, #favoBtn:hover {
	background-color: #e25527;
}

ul {
	list-style: none;
}
#container {
	margin: 20px auto;
	width: 1000px;
	background-color: #f3f3ea;
}
#main {
	margin: 0 0 0 15px;
	float: left;
}
.feed-title {
	font-size: 18px;
	width: 580px;
	background-color: #fff;
	margin: 10px 12px;
	padding: 10px;
	border: 1px #ddd solid;
}
.items {
	font-size: 12px;
	margin: 10px 10px 20px 15px;
	width: 600px;
	padding: 3px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #231712;
	line-height: 1.4em;
	cursor: pointer;
	background-color: #f3f3ea;
	position: relative;
}
.items .title {
	font-weight: bold;
	margin: 10px 0 5px 0;
	line-height: 1.4em;
}
.items .item {
	margin: 0 10px;
}
.items .item img {
	display: none;
}
.item-date {
	background-color: #fff;
	padding: 5px 5px 1px 5px;
	margin: 10px 0 5px 0;
	border: 1px #ddd solid;
}
.rad15 {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.linkicon {
	width: 12px !important;
	height: 11px !important;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.linkicon img {
	width: 12px !important;
	height: 11px !important;
}
.faboStar {
	width: 13px !important;
	height: 12px !important;
	position: absolute;
	bottom: 14px;
	right: 35px;
}
.faboStar img {
	width: 13px !important;
	height: 12px !important;
}

/* navigation */
h1 {
	font-size: 18px;
	margin: 0 0 30px 0;
	background-color: #fff;
	border: 1px #ddd solid;
	padding: 10px;
}
.rss {
	color: #e25527;
}
#navigation {
	margin: 10px;
	width: 300px;
	height: 500px;
	float: left;
}
#navigation ul {
	margin: 0 0 0 10px;
}
#navigation ul li {
	margin: 8px 0;
	padding: 8px 0 8px 10px;
	border-bottom: 1px dotted #ddd;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	font-size: 14px;
	line-height: 14px;
}
#set-rss {
	margin: 50px 0 50px 20px;
	width: 260px;
	color: #666;
}
#add-rss {
	width: 260px;
	margin: 5px 0;
}
#add-btn {
	width: 265px;
}
#fabutton {
	margin: 20px 0 0 0;
	width: 265px;
}
.delete-rss-btn {
	display: none;
	position: absolute;
	top: 8px;
	right: 8px;
}
#article-title {
	font-size: 26px;
	background-color: #fff;
	border: 1px #ddd solid;
	padding: 20px;
}

#article h2 {
	font-size: 24px;
	margin: 10px 0;
}
#article h3 {
	font-size: 20px;
	margin: 10px 0;
}
#article h4 {
	font-size: 16px;
	margin: 10px 0;
}
#article p {
	font-size: 14px;
	line-height: 1.6em;
	margin: 10px;
}

#article ol,
#article ul {
	font-size: 14px;
	line-height: 1.6em;
	margin: 10px 30px;
}

/* 全記事表示 */
#itemBox {
	width: 1000px;
	font-size: 12px;
	margin: 0 auto;
}
#itemBox img {
	width: 70%;
	height: 70%;
	margin: 10px auto;
}
#itemBox p,
#itemBox h1,
#itemBox h2,
#itemBox h3,
#itemBox h4,
#itemBox h5 {
	margin: 30px 0 10px 0;
}

a{color:#231712;}
a:visited{color:#999999;}

/* favo */
ul.favo-category {
	cursor: pointer;
}
ul.favo-category .feed-title {
	width: 600px;
	height: 20px;
}
.favo-one {
	font-size: 12px;
	margin: 2px 10px 0 10px;
	padding: 1px 10px;
	color: #231712;
	cursor: pointer;
	position: relative;
}
.favo-caps {
	width: 580px;
	overflow: hidden;
	height: 18px;
	background-color: #f3f3ea;
	padding: 2px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid #dcdcdc; 
}
.favo-title {
	float: left;
}
.favo-date{
	float: right;
}
.favo-one a:visited {
	color:#231712 !important;
}
.read .title,
.read .item,
.read .item-date {
	color: #af978f;
}
.read-hide {
	display: none;
}
.read-btn {
	float: right;
	font-size: 10px;
	padding: 2px 10px 0 0;
	cursor: pointer;
}
.shadow-mini {
	box-shadow: 1px 1px 2px #ccc;
	-moz-box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #ccc;
}
.shadow {
	box-shadow: 2px 2px 10px #ddd;
	-moz-box-shadow: 2px 2px 10px #ddd;
	-webkit-box-shadow: 2px 2px 10px #ddd;
}